/*/------
PATRON DE COLORES
/*/
html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif; }

.portada {
  background: url("../images/portada_03.jpg") no-repeat center top;
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.encabezado {
  background: #20232C;
  color: #fff;
  padding: 1rem 0; }

.encabezado .logo img {
  width: 150px;
  margin: auto; }

.encabezado .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0; }

/*--Botones buscar y menu
*/
.boton-buscar,
.boton-menu {
  border: 0;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff; }

.boton-buscar:focus,
.boton-menu:focus {
  outline: 0; }

#bloque-buscar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.contenedor-bloque-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin: 1rem 0; }

.contenedor-bloque-buscar input[type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.contenedor-bloque-buscar input[type="submit"] {
  border: 0;
  border-radius: 0 5px 5px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  background: #FA225B;
  color: #fff; }

#menu-principal {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

#menu-principal ul a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin: 1.5rem;
  font-size: 1.3rem; }

#menu-principal ul a:hover {
  color: #FA225B; }

#menu-principal ul li.active a {
  color: #FA225B; }

.texto-encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 8rem; }

.texto-encabezado h1 {
  font-size: 3.5rem;
  color: #FA225B;
  margin: 3rem auto; }

.texto-encabezado p {
  color: #717F9F;
  letter-spacing: 3px;
  margin: 1rem 3rem;
  font-size: 1.1rem; }

.texto-encabezado h5 {
  letter-spacing: 5px; }

.about-me {
  background: #20232C;
  color: #fff; }

.bordes {
  padding-top: 5rem; }

.bordes .about p {
  text-align: center;
  letter-spacing: 3px;
  margin: 1.5rem;
  padding-bottom: 10px;
  color: #5E677A;
  border-bottom: 1px solid; }

.bordes p {
  color: #7A89AB;
  font-size: 16px; }

.about-me .container {
  padding-bottom: 5rem; }

/*SECCION WHY */
.why .about p {
  text-align: center;
  letter-spacing: 3px;
  margin: 1.5rem;
  padding-bottom: 10px;
  color: #5E677A;
  border-bottom: 1px solid #fff; }

.why {
  background: #191C23; }

.why p {
  color: #7A89AB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 6px 1rem;
  text-align: center;
  margin-bottom: 1rem; }

.why .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.5rem 0 1rem 0; }

.why .about h3 {
  color: #fff; }

.why .container ul {
  margin: 3rem auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  list-style: none;
  padding: 0; }

.why .container ul li .fa,
.why .container ul li .fab {
  font-size: 6rem;
  color: #FA225B; }

.why .container ul li {
  margin-bottom: 2.5rem; }

.work .recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5rem;
  background: #96C577;
  color: #fff; }

.work .recent p {
  letter-spacing: 3px; }

.imagenes {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem; }

.work .row .col-md-6 {
  padding: 0 0 0 0; }

.oli {
  margin-top: 4rem; }

[class*=" imghvr-shutter-out-"]:before,
[class^=imghvr-shutter-out-]:before {
  background: #fff; }

.imghvr-shutter-out-horiz:before {
  background: #FA225B !important; }

.work .ver-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  background: #fa225b; }

.work .ver-todo a {
  color: #fff;
  letter-spacing: .3rem; }

.work .ver-todo:hover {
  background: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.work .ver-todo:hover a {
  color: #FA225B;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.news .container-fluid .titulo-noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #49629B;
  color: #fff;
  padding: 4rem 0; }

.news .container-fluid .titulo-noticias p {
  margin-top: 1rem;
  margin-bottom: 0;
  letter-spacing: 3px;
  padding-bottom: 18px;
  border-bottom: 1px solid #fff; }

.news .container-fluid .noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  background: #191C23;
  color: #7A89AB; }

.news .container-fluid .noticias a {
  color: #FA225B;
  margin: 1rem;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0; }

.news .container-fluid .noticias p {
  padding: 15px; }

.contacto {
  background: #EBECED; }

.contacto .container .titulo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin: 3rem auto;
  margin-bottom: 1rem; }

.contacto .container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 15px; }

.contacto .container .titulo-form h3 {
  font-weight: bold; }

.contacto .container .titulo-form .sub {
  text-align: center;
  letter-spacing: 3px;
  margin: 1.5rem auto; }

.contacto .container .titulo-form .parra {
  text-align: center;
  line-height: 37px; }

.form-control {
  display: block !important;
  width: 100% !important;
  height: calc(2.5em + 1.75rem + 2px) !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: red !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: none !important;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important; }

.form-group {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form-group .btn-primary {
  color: #fff;
  background-color: #FA225B;
  border-color: #FA225B;
  margin: 1rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-size: 16px;
  letter-spacing: 6px; }

.form-group .btn-primary:hover {
  background: #1D2028;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.form-group .btn-primary:hover a {
  color: #7A89AB;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.piedepagina {
  background: #1D2028;
  color: #7A89AB; }

.piedepagina .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.piedepagina .container a img {
  vertical-align: middle;
  border-style: none;
  width: 281px;
  margin: 2.5rem auto; }

.piedepagina .container p {
  margin-bottom: 2rem; }

.piedepagina .container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 0; }

.piedepagina .container ul li a .fab {
  color: #fff;
  font-size: 2.6rem;
  margin: 1rem; }

.piedepagina .container ul li a .fab:hover {
  color: #FA225B;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

/*
-----------EMPIEZAN LAS MEDIAS QUERYS
*/
@media (min-width: 768px) {
  #menu-principal {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: auto; }

  #menu-principal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }

  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent; }

  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #FA225B;
    border-bottom: 4px solid;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

  .boton-buscar {
    margin-left: 1rem;
    margin-right: .8rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  #bloque-buscar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    width: 20rem;
    right: 4rem;
    top: 3rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

  .texto-encabezado {
    margin-top: 13rem; }

  .why .container ul {
    margin: 3rem auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .why .container ul li {
    padding: 0 64px; }

  .work .container-fluid .col-md-6 {
    padding: 0 0 0 0; }

  .work .container-fluid .col-md-6 img {
    height: 259.2px; }

  .news .container-fluid .col-md-6 {
    padding: 0 0 0 0; }

  .news .container-fluid .row {
    background: #191C23; } }
@media (min-width: 992px) {
  .portada {
    background: url("../images/fondoweb.jpg") no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .texto-encabezado h1 {
    font-size: 5.5rem; }

  .texto-encabezado p {
    font-size: 1.8rem; }

  .about-me .bordes .dos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  .work .container-fluid .col-lg-6 img {
    width: 100%;
    height: 100%; }

  .work .container-fluid h3 {
    font-size: 3.75rem; }

  .work .container-fluid .imagenes {
    margin-top: 11rem; }

  .why .about h3 {
    color: #fff;
    font-size: 1.75rem; }

  .why .about p {
    font-size: 1rem; }

  .why .container ul li .fa, .why .container ul li .fab {
    font-size: 8rem; }

  .why p {
    font-size: 16px; }

  .why li p {
    font-size: 27px; }

  .work .ver-todo a {
    font-size: 2rem; }

  .news .titulo-noticias h3 {
    font-size: 3.75rem; }

  .news .titulo-noticias p {
    font-size: 1.5rem;
    letter-spacing: 5px; }

  .news .container-fluid .noticias p {
    font-size: 1rem; }

  .news .container-fluid .noticias a {
    font-size: 1.9rem; }

  .contacto .container .titulo-form h3 {
    font-size: 3rem; }

  .contacto .container .titulo-form .sub {
    font-size: 1.5rem; }

  .contacto .container .titulo-form .parra {
    font-size: 1.3rem; }

  .form-control {
    font-size: 1.4rem !important;
    height: calc(1.5em + 1.75rem + 2px) !important; }

  .form-group .btn-primary {
    font-size: 1rem; }

  .piedepagina .container a img {
    width: 21rem; }

  .piedepagina .container p {
    font-size: 1rem; }

  .piedepagina .container ul li a .fab {
    font-size: 2rem;
    margin: 1rem 4rem; }

  .news .container-fluid .row {
    padding-bottom: 3rem; }

  .work .recent {
    padding: 7rem; }

  .why {
    padding: 3rem; }

  .news .titulo-noticias p {
    font-size: 1rem;
    letter-spacing: 3px; }

  .news .container-fluid .titulo-noticias {
    padding: 7rem 0; } }

/*# sourceMappingURL=estilos.css.map */